@*@model BootstrapSite1.ViewModels.ContactsViewModel


    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ContactForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>ContactsViewModel</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { @id = "txtFirstName" })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { @id = "txtLastName" })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompanyName, new { @id = "txtCompanyName" })
                    @Html.ValidationMessageFor(model => model.CompanyName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { @id = "txtEmail" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { @id = "txtPhone" })
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Message, new { @id = "txtMessage" })
                    @Html.ValidationMessageFor(model => model.Message)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Create" class="btn btn-default" onclick="SaveContact()" />
                </div>
            </div>
        </div>
    }

    <script src="~/Scripts/ContactScript.js"></script>*@

@model BootstrapSite1.ViewModels.ContactsViewModel


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ContactForm" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            @Html.ValidationSummary(true)
            <div class="col-md-12">
                <div class="contact-form">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.FirstName, new { @id = "txtFirstName", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.LastName, new { @id = "txtLastName", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.CompanyName, new { @id = "txtCompanyName", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CompanyName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Email, new { @id = "txtEmail", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Phone, new { @id = "txtPhone", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(model => model.Message, new { @id = "txtMessage", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Message)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="button" value="Submit" class="btn btn-primary" onclick="SaveContact()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}


<script src="~/Scripts/Modal.js"></script>
<link href="~/css/Modal.css" rel="stylesheet" />
